html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: black; 
 font-family: Yusei Magic; 
 font-size: 100%;
 }
h2.tl-headline, h2.tl-headline-title {
    font-family: 'Spicy Rice' !important;
}
.timeline,
.tl-timeline,
.tl-slide {
  background-color: #1e1e1e !important;  /* gris foncé */
  color: #ffffff !important;             /* texte blanc pour contraste */
}
